/* nav items animation */
.navLink::after{
  content: '';
  width: 0;
  height: 3px;
  background-color: #ad8be4;
  position: absolute;
  left: 0;
  bottom: -.5rem;
  transition: width .4s;
  display: flex;
  justify-items: center;

}
.navLink:hover::after{
  width: 70%;
}
.navLinkD::after{
  content: '';
  width: 0;
  height: 3px;
  background-color: #ad8be4;
  position: absolute;
  /* left: 0; */
  bottom: 1px;
  transition: width .4s;
  display: flex;
  justify-items: center;

}
.navLinkD:hover::after{
  width: 50%;
 
}
.navLinkD:hover, .navLink:hover{
  color: #ad8be4;
  transition: .5s;
}
.customShadow{
  box-shadow: 0px 0px 30px 0px #8e56e7a8;
}
/* imgae bg */
.imgBg{

border-radius: 431px;
background: radial-gradient(50% 50% at 50% 50%, #763CAC 0%, rgba(50, 15, 133, 0.00) 100%);

}

.staticText{
  font-size: 50px;
  margin-right: 20px;
}
.dynamicText{
  overflow: hidden;
  height: 90px;
  line-height: 90px;
}
.dynamicText li{
  position: relative;
  top:-5px;
  animation: slide 16s steps(4) infinite;
}
@keyframes slide {
  100%{
    top: -410px;
  }
  
}
.dynamicText li span{
  font-size: 50px;
 
}

.dynamicText li span::after{
  content: "";
  position:absolute;
  left: 0;
  height: 100%;
  width: 100%;
  border-left: solid 4px white;
  background-color: #11071F;
  animation: typing 4s steps(10) infinite;
}
@keyframes typing {
  100%{
    left: 112%;
  }
}
@media screen and (max-width: 576px) {
  .staticText{
    font-size: 20px;
    margin-right: 10px;
  }
  .dynamicText{
    height: 40px;
    line-height: 40px;
    
  }
  .dynamicText li span{
    font-size: 20px;
   
  }
  @keyframes slide {
    100%{
      top:-170px;
    }
    
  }
}

/* .dynamicText{
  overflow: hidden;
  height: 90px;
  line-height: 90px;
  
}
.dynamicText li {
  position: relative;
  top: 0;
  animation: slide 16s steps(4) infinite;
}
@keyframes slide {
  100%{
    top: -400px;
  }
  
}
.dynamicText li span{
  position: relative;
  font-size: 50px;
  
}
.dynamicText li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 90%;
  width: 100%;
  background-color: #11071F;
  border-left: solid 2px white;
  animation: typing 4s steps(10) infinite;
}
@keyframes typing {
  100%{
    left: 100%;
  }
  
} */